/* this is banner section */
.banner{
    text-align: center;
     background-image: url(assets/Hero-bg.png);
    background-repeat:round;
}
.banner-title{
    font-size: 48px;
    font-weight: bolder;

}
.banner-img{
    width: 240px;
    height: 240px;
}
.banner-content{
  max-width: 998px;
  margin: auto;
padding : 35px 250px;
}



.contact-btn{
    color: #ffff;
background-color: #0D1321;
border-radius: 8px;
width: 245px;
height: 65px;
font-size: 20px;
font-weight:600px;
}




/* share class */
.content-discribtion{
    font-size: 16px;
    color: #757575;

} 
.align-center{
    text-align: center;
}
.btn-primary{
    width: 170px;
    height: 48px;
}

a{ 
    text-decoration: none;
    font-size: 20px;
    font-weight: 600px;
    color: #0D1321;
    padding: 12px 20px;
}
.layer-img{
    width: 240px;
    height: 240px;
}
.secondary-title{
    color: #0D1321;
    opacity: 70%;
    font-size: 24px;
    font-weight: bold;
}
   

/* font section */

.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
main{
    margin-left: 50px;
    margin-right: 50px;
}
/* why web section */

.web-dev-content-1{
    display:flex;
    justify-content: space-between;
    padding: 48px;
    padding: 30px; 
    margin: 24px;
    border-radius: 5px;
     box-shadow: 0px 6px 50px 0px #67666617;


}
.web-text{
    padding-right: 50px;
    padding-left: 50px;

}
.web-contant{
    margin-bottom: 48px;
    width: 852px;
    text-align: center;
    padding: 24px; 



}

.web-dev-content-2{
display:flex;
justify-content: space-between;
padding: 48px;
padding: 30px; 
margin: 24px;
border-radius: 5px;
box-shadow: 0px 6px 50px 0px #67666617;
}

.web-container{
    padding: 80px 97px;
  
    
}
.section-contant{
    text-align: center;
    height: 50px;
    margin: auto; 
    width: 945px;
     width: min-content; 
}
.video{

    height: auto;
     margin: 50px 0px;
     margin-bottom: 100px;
}


/* experience section  */


.experiences{
    display: flex;
    width: 980px;
    margin: auto;
 }
 .experience-1{
    background-color: hwb(34 50% 2% / 0.192);
    padding: 30px; 
    margin: 24px;
    border-radius: 5px;
     box-shadow: 0px 6px 50px 0px  hwb(0 23% 76% / 0.323);
 }
 .experience-2{
    background-color: rgba(79, 184, 245, 0.148);
    padding: 30px; 
    margin: 24px;
    border-radius: 5px;
     box-shadow: 0px 6px 50px 0px hwb(0 23% 76% / 0.323);
 }

 .experience-3{
    background-color: rgba(238, 230, 7, 0.132);
    padding: 30px; 
    margin: 24px;
    border-radius: 5px;
     box-shadow: 0px 6px 50px 0px  hwb(0 23% 76% / 0.323);
 }

 .skill-title{
    font-size: 20px;
    font-weight: bold;
 }
 .skill-describtion{
    font-size: 16px;
    color: #757575;
 
 }
 .skill-img{
    width: 40px;
 }
 .primary-content{
    margin: auto;
    margin: auto;
    text-align: center;
    margin-bottom: 60px;
    width: 766px;
}
.submit-section{

    border-radius: 18px;
    width: 1140px;
    background-image: url(assets/handshake.jpg);
    padding: 50px;
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
.submit-ber{
    width: 550px;
    height: 55px;
    border-radius: 8px;
    border: none;
}
.submit{
    height: 55px;
    width: 120px;
    border-radius: 8px;
    border: none;
    font-size: large;
    font-weight: bold;

}
.secondary-content{
    text-align: center;
    color: azure;
    margin: auto;
}
footer{
    display: flex;
    justify-content: space-between;
    background-color: gainsboro;
    margin: 0%;
    margin-top: 50px;
}
.logo{
    margin-right: 50px;
    margin-top: 14px;
}
.footer-title{
margin-left: 52px;
}